<body>
   
    <% if(dayType === 'weekday' ){ %>
        <h1> Hey!, It's a weekday, it's time to work hard!</h1>
        <% } else{ %>  
        <h1>Hey!, It's a weekend, it's time to have fun!</h1>
        <% } %>
</body>